[submodule "fmt"]
	path = fmt
	url = git@rnd-github-usa-g.huawei.com:SeattleCloudBU/DFV_K2_OS_fmt.git
[submodule "K2Build/DFV_K2_BuildDeps"]
	path = K2Build/DFV_K2_BuildDeps
	url = git@rnd-github-usa-g.huawei.com:SeattleCloudBU/DFV_K2_BuildDeps.git
