[submodule "dpdk"]
	path = dpdk
	url = https://github.com/scylladb/dpdk.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/scylladb/fmt.git
[submodule "K2Build/DFV_K2_BuildDeps"]
	path = K2Build/DFV_K2_BuildDeps
	url = http://rnd-github-usa-g.huawei.com/SeattleCloudBU/DFV_K2_BuildDeps.git
